services:
  db:
    image: postgres:16
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres123 
        POSTGRES_DB: flow_day
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
  api:
    build: .
    ports:
      - 8000:8000
    environment:
      - DATABASE_URL=postgresql://postgres:postgres123@db:5432/flow_day
    depends_on:
      - db

volumes:
    db-data: